@font-face {
font-family: "futura_bold";
src: url("../fonts/futura-bold-bt.ttf");
}
@font-face {
    font-family: "Roboto-Light";
    src: url("../fonts/Roboto-Light.ttf");
}
@font-face {
    font-family: "Roboto-Black";
    src: url("../fonts/Roboto-Black.ttf");
}
@font-face {
    font-family: "Roboto-Bold";
    src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
    font-family: "Roboto-Regular";
    src: url("../fonts/Roboto-Regular.ttf");
}
header{

    height: 596px;
}

.paralax{
    position: relative;
    width: 100%;
    display: flex;
    height: 100%;
    overflow: hidden;
}

.bg1, .bg2, .bg3, .bg4{
    z-index: -1;
    background: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.imagebg1{
    background: url(../images/bg1.jpg);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.2;
}
.content{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.top-line{
    position: absolute;
    z-index: 2;
    margin-top: 32px;
    display: inline-flex;
    background: white;
    height: 110px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.sticky {
    position: sticky;
    top: 2em;
    min-height: 2em;
}

.logo{
    display: inline-flex;
    font-size: 36px;
    color:#424f57;
    font-family: Roboto-Light;
    font-weight: 300;
}

.logo>.blue_logo_text{
    text-transform: uppercase;
    color:#14afca ;
    font-family: Roboto-Black;
    font-weight: 900;
}

nav{
    width: 40%;
}

ul{
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

li a{
    font-family: OpenSans, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color:#3e4c4e ;
}
.active a{
    color: #14afca;
}

a{
    text-decoration: none;
}

.content>.motto{
    bottom: 180px;
    font-family: "futura_bold";
    position: absolute;
    color: white;
    font-size: 52px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.endArrow {
    position: relative;
    bottom: 70px;
    width: 100%;
    height: 70px;
    background-color: white;
    shape-outside: polygon(0% 0%, 50% 100%, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 50% 100%, 100% 0%, 100% 100%, 0% 100%);
}

.whiteBlock{
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

.whiteBlock>h1, .content>h1{
    font-family: Roboto-Bold;
    color: #14afca;
    font-size: 60px;
    text-transform: uppercase;
    text-align: center;
    padding-top:108px;
}

.whiteBlock>h3{
    font-family: OpenSans, sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #424f57;
    padding-top: 26px;
}

.whiteBlock>p{
    font-family: Roboto-Regular;
    font-size: 16px;
    color: #424f57;
    padding-top: 42px;
    margin: 0 auto;
    padding-bottom: 100px;
}

.imgbg2{
    background: url(../images/bg2.jpg);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.2;
}

.companies{
    height: 717px;
}

.content{
    display: flex;
    flex-direction: column;
}

.content>h3{
    font-family: OpenSans, sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: white;
    padding-top: 26px;
    padding-bottom: 50px;
    text-align: center;
}

.logosc{
    text-align: center;
    display: inline-flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 122px;
}

.startArrow{
    position: absolute;
    width: 100%;
    height: 70px;
    background-color: white;
    shape-outside: polygon(0% 0%, 50% 100%, 100% 0%);
    clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
}

.photoContainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 47px;
}

.photoBlock{
    font-family: Roboto-Regular;
    line-height: 25px;
    font-weight: 400;
    font-size: 17px;
    color: #424f57;
    width: 28%;
}

.meetUs{
    padding-bottom: 125px;
}

.meetUs>h1{
    padding-top: 100px;
}

.imgbg3{
    background: url(../images/bg3.jpg);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.2;
}

.testimonials{
    clear: both;
    height: 579px;
}

.testimonials>.startArrow{

}

.content>p{
    width: 70%;
    font-family: OpenSans, sans-serif;

    color: #d3cccc;
    font-size: 16px;
    text-align: center;
}

.cursive{
    line-height: 30px;
    font-style: italic;
}

.content>span{
    display: flex;
    width: 45%;
    color: white;
    padding-right: 10%;
    justify-content: flex-end;
    font-family: OpenSans, sans-serif;
    font-weight: 700;
    font-style: italic;
}

.sum{
    font-family: Roboto-Bold;
    font-weight: bold;
    font-size: 30px;
    color: #424f57;
    line-height: 48px;
    padding-top: 30px;
}
footer{
    font-family: OpenSans, sans-serif;
    font-size: 14px;
    color: #3d3c3c;
    padding-bottom: 108px;
}
.bold{
    display: inline;
    font-weight: bold;
}
.cop{
    line-height: 25px;
}
